{{#models}}
{{#model}}
# {{{classname}}}

{{#vendorExtensions.x-supported-actions}}
{{#-first}}**Supported actions:** {{/-first}}{{.}}{{^-last}}, {{/-last}}
{{/vendorExtensions.x-supported-actions}}
## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
{{#parent}}
{{#parentVars}}
| **{{name}}** | {{#isPrimitiveType}}**{{dataType}}**{{/isPrimitiveType}}{{^isPrimitiveType}}[**{{dataType}}**]({{complexType}}.html){{/isPrimitiveType}} | {{description}} | {{^required}}[optional] {{/required}}{{#readOnly}}[readonly] {{/readOnly}}{{#defaultValue}}[default to {{{.}}}]{{/defaultValue}} |
{{/parentVars}}
{{/parent}}
{{#vars}}| **{{name}}** | {{#isPrimitiveType}}**{{dataType}}**{{/isPrimitiveType}}{{^isPrimitiveType}}[**{{dataType}}**]({{complexType}}.html){{/isPrimitiveType}} | {{description}} | {{^required}}[optional] {{/required}}{{#readOnly}}[readonly] {{/readOnly}}{{#defaultValue}}[default to {{{.}}}]{{/defaultValue}} |
{{/vars}}

[[Back to Model list]](../http-api#documentation-for-models) [[Back to API list]](../http-api#documentation-for-api-endpoints)

{{/model}}
{{/models}}
