astroid==2.11.2
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
cloudpickle==2.0.0
dill==0.3.4
idna==3.3
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
packaging==21.3
platformdirs==2.5.1
pluggy==1.0.0
py==1.11.0
pydantic==1.9.0
pylint==2.13.4
pyparsing==3.0.7
pytest==7.1.1
requests==2.27.1
tomli==2.0.1
torchdata
typing_extensions==4.1.1
urllib3==1.26.9
wrapt==1.14.0