#
# Ubuntu 18.04 has some bug whereby specifying the mtu for a dhcp-configured
# interface in netplan fails, so we have to resort to some matching as below.
#
# XXX The item.interface below doesn't seem to restrict us to matching
# only that link. That's ok since our cpu/storage nodes do have differently
# named ethernet links to the DGX nodes, but could affect more interfaces
# than we want in some configs.
#
network:
  version: 2
  renderer: networkd
  ethernets:
    {{ item.interface }}:
      dhcp4: yes
      match:
        driver: {{ item.driver }}
      mtu: {{ item.mtu }}

