blockquote {
  font-style: normal;
  border-left-color: #1488C6;
  letter-spacing: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: inherit;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

pre, code {
  font-size: 13px;
}
