blockquote {
  font-style: normal;
  border-left-color: #1488C6;
  letter-spacing: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: inherit;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

pre, code {
  font-size: 13px;
}

/* Do not break line for code text inside the table. */
.nobreak td code {
  white-space: nowrap;
}

/* Improve visuals of headers. */
h1 {
 font-weight: 700;
}

h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h2::before, h3::before, h4::before, h5::before {
  display: block;
  content: " ";
  margin-top: -5rem;
  height: 5rem;
  visibility: hidden;
}

h2.post-list-heading {
  display: none;
}

/* Make the "blog" heading same as others */
h1.page-heading {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  padding-bottom: 20px;
}

/* Embed containers (youtube) */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 20px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Changes for specific images */

img[alt="etl-v3.3"] {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="on-disk hierarchy"] {
  width: 160px;
}

img[alt="on-disk hierarchy with namespaces"] {
  width: 240px;
}
