name: Container Images

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      build_aisnode_image:
        description: 'Build aisnode image (aistorage/aisnode)'
        required: true
        type: boolean
        default: false

      build_aisinit_image:
        description: 'Build aisinit image (aistorage/ais-init)'
        required: true
        type: boolean
        default: false

      build_authn_image:
        description: 'Build AuthN image (aistorage/authn)'
        required: true
        type: boolean
        default: false

      build_util_image:
        description: 'Build ais-util image (aistorage/ais-util)'
        required: true
        type: boolean
        default: false

      build_cluster_minimal_image:
        description: 'Build cluster-minimal image (aistorage/cluster-minimal)'
        required: true
        type: boolean
        default: false

      build_gitlab_ci_image:
        description: 'Build GitLab CI image (aistorage/gitlab-ci)'
        required: true
        type: boolean
        default: false

      image_tag:
        description: 'Tag for all selected images'
        required: true
        default: 'latest'
        type: string

jobs:
  aisnode:
    if: ${{ inputs.build_aisnode_image || github.event_name == 'push' }}
    uses: ./.github/workflows/docker-build.yml
    with:
      image_name: aistorage/aisnode
      image_tag: ${{ inputs.image_tag || 'dev' }}
      context_dir: deploy/prod/k8s/aisnode_container
      commit_sha: ${{ github.sha }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  aisnode-tracing:
    if: ${{ inputs.build_aisnode_image || github.event_name == 'push' }}
    uses: ./.github/workflows/docker-build.yml
    with:
      image_name: aistorage/aisnode
      image_tag: ${{ inputs.image_tag && format('{0}-oteltracing', inputs.image_tag) || 'dev-oteltracing' }}
      context_dir: deploy/prod/k8s/aisnode_container
      build_tags: oteltracing
      commit_sha: ${{ github.sha }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  ais-init:
    if: ${{ inputs.build_aisinit_image || github.event_name == 'push' }}
    uses: ./.github/workflows/docker-build.yml
    with:
      image_name: aistorage/ais-init
      image_tag: ${{ inputs.image_tag || 'dev' }}
      context_dir: deploy/prod/k8s/aisinit_container
      commit_sha: ${{ github.sha }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  authn:
    if: ${{ inputs.build_authn_image }}
    uses: ./.github/workflows/docker-build.yml
    with:
      image_name: aistorage/authn
      image_tag: ${{ inputs.image_tag }}
      context_dir: deploy/prod/k8s/authn_container
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  ais-util:
    if: ${{ inputs.build_util_image }}
    uses: ./.github/workflows/docker-build.yml
    with:
      image_name: aistorage/ais-util
      image_tag: ${{ inputs.image_tag }}
      context_dir: deploy/prod/k8s/aisutil_container
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  cluster-minimal:
    if: ${{ inputs.build_cluster_minimal_image }}
    uses: ./.github/workflows/docker-build.yml
    with:
      image_name: aistorage/cluster-minimal
      image_tag: ${{ inputs.image_tag }}
      context_dir: deploy/prod/docker/single
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  gitlab-ci:
    if: ${{ inputs.build_gitlab_ci_image }}
    uses: ./.github/workflows/docker-build.yml
    with:
      image_name: aistorage/gitlab-ci
      image_tag: ${{ inputs.image_tag }}
      context_dir: deploy/ci
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
