name: Lint
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, labeled, ready_for_review]
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    strategy:
      matrix:
        go-version: ['1.23.x']
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install `golangci-lint`
        uses: golangci/golangci-lint-action@v3
        with:
          # NOTE: See `lint-update-ci` target in Makefile.
          version: v1.63.2
          args: --timeout=30m

      - name: Lint
        run: |
          export GOPATH="$(go env GOPATH)"
          make lint
          TAGS=statsd make lint
          TAGS="statsd nethttp ht debug" make lint
          TAGS="aws gcp azure" make lint
          make fmt-check
          make spell-check
