
name: Python ETL Tests
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: setup-minikube
        uses: medyagh/setup-minikube@latest
        with:
          driver: docker
          container-runtime: docker
          cpus: max
          memory: max

      - name: Run AIStore in Minikube
        run: |
          cd $GITHUB_WORKSPACE/deploy/dev/k8s/
          ./minimal.sh

      - name: Setup Python '3.11'
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Python ETL Tests
        run: |
          cd $GITHUB_WORKSPACE/python/
          export AIS_ENDPOINT="http://$(minikube ip):8080"
          make python_etl_tests

