name: Python AuthN Tests
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        go-version: ['1.23.x']
        os: [ubuntu-latest, macos-latest]
        python-version: ['3.8','3.9','3.10','3.11']
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      - name: Remove unnecessary directories to free up space
        run: |
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo rm -rf /usr/local/lib/android/sdk/ndk
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost

      - name: Run AIStore
        env:
          GOPATH: ${{ secrets.GOPATH }}
          AIS_AUTHN_ENABLED: "true"
          AIS_AUTHN_SU_NAME: "admin"
          AIS_AUTHN_SU_PASS: "admin"
          AIS_AUTHN_URL: "http://localhost:52001"
        run: |
          export GOPATH="$(go env GOPATH)"
          AIS_SPACE_LOWWM=90 AIS_SPACE_HIGHWM=96 AIS_SPACE_OOS=99 scripts/clean_deploy.sh --target-cnt 3 --proxy-cnt 1 --mountpath-cnt 3

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run Python tests
        env:
          AIS_AUTHN_SU_NAME: "admin"
          AIS_AUTHN_SU_PASS: "admin"
          AIS_AUTHN_URL: "http://localhost:52001"
        run: |
          cd python
          make python_authn_tests
